<% include partials/header %>
<h1>The Posts Page</h1>

<% for(var i = 0; i < Posts.length; i++){ %>
<li>
    <%= Posts[i].title %> - <strong><%= Posts[i].author %></strong>
</li>
<% } %>

<% Posts.forEach(function(post){ %>
<li>
    <%= post.title %> - <strong><%= post.author %></strong>
</li>
<% }) %>
<% include partials/footer %>